<div>
    <div class="box1">
        <nav>
            <b class="B1">nopCommerce</b>&nbsp;
            <i class="bi bi-distribute-vertical"></i>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">jee supata</button>
                <button class="btn btn-primary" type="button">Logout</button>
                <h2><i class="bi bi-gear-fill"></i></h2>
            </div>

        </nav>
    </div>
    <div class="box2">
        <nav>
            the store has some error(s) or waeming(s)...
        </nav>
        <div class="col-md-9 soo ">
            <a>
                <h3> <i class="bi bi-layout-text-window-reverse"></i> CNopCommerce News</h3>
            </a>
            <a>
                <div class="container overflow-hidden">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3 border bg-light">
                                <p>"Powered by nopCommerce" link</p>Would you like to remove the "Powered by
                                nopCommerce" link in the bottom of the footer? Click here for more info.
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">
                                <p>Premium support services</p>Get dedicated support from the nopCommerce team with a
                                guaranteed response within 24 hours. Click here for more info.
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">
                                <p>Recommended hosting for your store</p> Everleap cloud hosting seamlessly scales sites
                                with ease and they move stores for free. Learn more and get a 30 day free trial.
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>
    <app-nav-bar></app-nav-bar>

</div>
